# Dependencies
node_modules/

# Build
dist/
dist-ssr/
*.tsbuildinfo

# Environment
.env
.env.*
.env.local
.env.*.local
!*.env.example

# Editor
.vscode/*
!.vscode/extensions.json
.idea/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
npm-debug.log*

# Test
coverage/

# Temp & Caches
*.local
.tmp/
.vite/
