# Sanity Studio Dependencies
node_modules/
.npm/

# Sanity CLI & Studio runtime
.sanity/
dist/
*.tsbuildinfo

# Local environment variables
.env
.env.*
.env.local
!*.env.example

# OS and Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log
npm-debug.log*
